# ======================
# Application (Required)
# ======================
APP_ENV=development

# ======================
# Frontend origin (Required)
# ======================
APP_URL=http://localhost:5173
